.browser-level ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.browser-level li {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14pt;
  font-weight: bold;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.browser-level li.selected {
  background: rgb(111, 249, 196);
}

.hsds-browser {
  height: 40vh;
  overflow-y: hidden;
  overflow-x: scroll;
  border-bottom: solid 1px #444
} 

.hsds-element {
  margin: 0;
  padding: 0;
}

.browser-level {
  height: 40vh;
  width: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: solid 1px #444;
  float: left;
}

.browser-level-button {
  text-align: center;
  padding-top: 50px;
}

.filepath {
  text-align: center;
  width: 90%;
  word-wrap: break-word;
}

.filepath .copy {
  cursor: pointer;
}


.app {
  height: 100vh;
}

.display {
  height: 60vh;
  text-align: center;
}

.image {
  height: 100%;
  float: left;
}

.path {
  float: left;
}

.display img {
  height: 100%;
  padding: 0;
  margin: 0;
}

.display_card {
  height: 60vh;
}