.browser-level ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.browser-level li {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14pt;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.browser-level li.selected {
  background: #1976d2;
}

.hsds-browser {
  height: 40vh;
  overflow-y: hidden;
  overflow-x: scroll;
  border-bottom: solid 1px #444;
  white-space: nowrap;
} 

.hsds-element {
  margin: 0;
  padding: 0;
}

.browser-level {
  display: inline-block;
  height: 40vh;
  width: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: solid 1px #444;
}

.browser-level-button {
  text-align: center;
}

.browser-level-button button {
  margin-top: 5vh;
}

.filepath {
  margin-top: 10px;
  margin-left: 7%;
  width: 86%;
  word-break: break-all;
  white-space: normal;
}

.filepath .copy {
  cursor: pointer;
}


.app {
  height: 100vh;
}

.display {
  height: 60vh;
  text-align: center;
}

.image {
  height: 100%;
  float: left;
}

.path {
  float: left;
}

.display img {
  height: 100%;
  padding: 0;
  margin: 0;
}

.display_card {
  height: 60vh;
}